@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700;900&display=swap');

body {
    font-family: 'Cairo', sans-serif;
}

/* إخفاء شريط التمرير للأقسام لتبدو كأنها تطبيق هاتف سلس */
.scrollbar-none::-webkit-scrollbar {
    display: none;
}
.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
